In [53]:
import pandas as pd

In [54]:
df = pd.read_csv('patient_data.csv')

In [55]:
df.columns

Index(['PatientID', 'Gender', 'Age', 'Age_Group', 'Age_TBI', 'Days_From1stTBI',
       'Date of Injury', 'Type of Injury Code', 'EncounterID',
       'Encounter_date', 'Encounter_Source', 'Provider_Specialty',
       'Provider_type', 'Product_Line', 'TBI_encounter_flag',
       'WarRelated_flag', 'PRE_max_days', 'POST_max_days', 'Stress', 'PTSD',
       'Speech', 'Anxiety', 'Depression', 'Headache', 'Sleep', 'Audiology',
       'Vision', 'Neurologic', 'Alzheimer', 'Cognitive', 'PCS', 'Endocrine',
       'Skull_inj', 'NON_skull_inj'],
      dtype='object')

In [56]:
df.drop(df.columns[[1,2,3,4,7,10,11,12,13,14,15,16,17]], axis=1, inplace=True)

In [57]:
df.columns

Index(['PatientID', 'Days_From1stTBI', 'Date of Injury', 'EncounterID',
       'Encounter_date', 'Stress', 'PTSD', 'Speech', 'Anxiety', 'Depression',
       'Headache', 'Sleep', 'Audiology', 'Vision', 'Neurologic', 'Alzheimer',
       'Cognitive', 'PCS', 'Endocrine', 'Skull_inj', 'NON_skull_inj'],
      dtype='object')

In [64]:
df = df[(df.Stress > 0) | (df.PTSD > 0) | (df.Speech > 0) | (df.Anxiety > 0) | (df.Depression > 0) | (df.Headache > 0) | (df.Sleep > 0) | (df.Audiology > 0) | (df.Vision > 0) | (df.Neurologic > 0) | (df.Alzheimer > 0) | (df.Cognitive > 0) | (df.PCS > 0) | (df.Endocrine > 0)]

In [69]:
df.head()

,PatientID,Days_From1stTBI,Date of Injury,EncounterID,Encounter_date,Stress,PTSD,Speech,Anxiety,Depression,...,Sleep,Audiology,Vision,Neurologic,Alzheimer,Cognitive,PCS,Endocrine,Skull_inj,NON_skull_inj
23,382268,-1847,2013-10-15,512995337,2008-09-24,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,382268,-1707,2013-10-15,631038974,2009-02-11,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
41,382268,-1706,2013-10-15,628297420,2009-02-12,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
44,382268,-1693,2013-10-15,629663953,2009-02-25,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
46,382268,-1678,2013-10-15,653055765,2009-03-12,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [72]:
df.drop(['Skull_inj', 'NON_skull_inj'], axis=1, inplace=True)

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [75]:
df

,PatientID,Days_From1stTBI,Date of Injury,EncounterID,Encounter_date,Stress,PTSD,Speech,Anxiety,Depression,Headache,Sleep,Audiology,Vision,Neurologic,Alzheimer,Cognitive,PCS,Endocrine
23,382268,-1847,2013-10-15,512995337,2008-09-24,0,0,0,0,0,1,0,0,0,0,0,0,0,0
39,382268,-1707,2013-10-15,631038974,2009-02-11,0,0,0,0,0,0,0,0,1,0,0,0,0,0
41,382268,-1706,2013-10-15,628297420,2009-02-12,0,0,0,0,0,0,0,0,1,0,0,0,0,0
44,382268,-1693,2013-10-15,629663953,2009-02-25,0,0,0,0,0,0,0,0,1,0,0,0,0,0
46,382268,-1678,2013-10-15,653055765,2009-03-12,0,0,0,0,0,0,0,0,1,0,0,0,0,0
47,382268,-1677,2013-10-15,654024147,2009-03-13,0,0,0,0,0,0,0,0,1,0,0,0,0,0
48,382268,-1673,2013-10-15,652262110,2009-03-17,0,0,0,0,0,0,0,0,1,0,0,0,0,0
49,382268,-1673,2013-10-15,652219062,2009-03-17,0,0,0,0,0,0,0,0,1,0,0,0,0,0
50,382268,-1665,2013-10-15,654048722,2009-03-25,0,0,0,0,0,0,0,0,1,0,0,0,0,0
51,382268,-1665,2013-10-15,653545948,2009-03-25,0,0,0,0,0,0,0,0,1,0,0,0,0,0
52,382268,-1656,2013-10-15,681979715,2009-04-03,0,0,0,0,0,1,0,0,1,0,0,0,0,0
53,382268,-1653,2013-10-15,678716414,2009-04-06,0,0,0,0,0,1,0,0,1,0,0,0,0,0
54,382268,-1651,2013-10-15,678771339,2009-04-08,0,0,0,0,0,1,0,0,0,0,0,0,0,0
55,382268,-1645,2013-10-15,678128327,2009-04-14,0,0,0,0,0,1,0,0,0,0,0,0,0,0
56,382268,-1642,2013-10-15,680617581,2009-04-17,0,0,0,1,1,0,0,0,0,0,0,0,0,0
57,382268,-1609,2013-10-15,705550228,2009-05-20,0,0,0,0,0,0,0,0,1,0,0,0,0,0
58,382268,-1589,2013-10-15,730905628,2009-06-09,0,0,0,0,0,1,0,0,1,0,0,0,0,0
62,382268,-1544,2013-10-15,756328192,2009-07-24,0,0,0,0,0,1,0,0,1,0,0,0,0,0
64,382268,-1541,2013-10-15,755849632,2009-07-27,0,0,0,0,0,1,0,0,1,0,0,0,0,0
65,382268,-1441,2013-10-15,857139494,2009-11-04,0,0,0,0,0,0,0,0,1,0,0,0,0,0
89,382268,-960,2013-10-15,1245267030,2011-02-28,0,0,0,0,1,0,0,0,0,0,0,0,0,0
91,382268,-959,2013-10-15,1271253856,2011-03-01,0,0,0,0,1,0,1,0,0,0,0,0,0,0
92,382268,-950,2013-10-15,1271254707,2011-03-10,0,0,0,0,1,0,0,0,0,0,0,0,0,0
93,382268,-937,2013-10-15,1270132823,2011-03-23,0,0,0,0,1,0,0,0,0,0,0,0,0,0
100,382268,-918,2013-10-15,1300265706,2011-04-11,0,0,0,0,1,0,0,0,0,0,0,0,0,0
105,382268,-909,2013-10-15,1301041156,2011-04-20,0,0,0,0,1,0,0,0,0,0,0,0,0,0
116,382268,-455,2013-10-15,1637057637,2012-07-17,0,0,0,0,0,1,0,0,0,1,0,0,0,0
118,382268,-454,2013-10-15,1638902654,2012-07-18,0,0,0,0,0,1,0,0,0,1,0,0,0,0
119,382268,-453,2013-10-15,1638912857,2012-07-19,0,0,0,0,0,1,0,0,0,0,0,0,0,0
120,382268,-453,2013-10-15,1635015618,2012-07-19,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5516,3822871,-423,2014-09-11,2040640624,2013-07-15,0,0,0,0,0,0,0,0,1,0,0,0,0,1
5518,3822871,-343,2014-09-11,2107755191,2013-10-03,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5521,3822871,-336,2014-09-11,2119165706,2013-10-10,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5524,3822871,-303,2014-09-11,2146012157,2013-11-12,0,0,0,0,0,1,0,0,0,0,0,0,0,1
5536,3822871,-113,2014-09-11,2311911563,2014-05-21,0,0,0,0,0,1,0,1,0,0,0,0,0,1
5537,3822871,-112,2014-09-11,2328597790,2014-05-22,0,0,0,0,0,0,0,1,0,0,0,0,0,0
5542,3822871,-90,2014-09-11,2328839513,2014-06-13,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5554,3822871,1,2014-09-11,2421037439,2014-09-12,0,0,0,0,0,1,1,0,0,0,0,0,0,1
5556,3822871,4,2014-09-11,2423404522,2014-09-15,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5558,3822871,6,2014-09-11,2434882708,2014-09-17,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5560,3822871,7,2014-09-11,2421225957,2014-09-18,0,0,0,0,0,0,0,0,0,1,0,0,0,1
5561,3822871,8,2014-09-11,2431192995,2014-09-19,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5562,3822871,11,2014-09-11,2435192093,2014-09-22,0,0,0,0,0,0,1,0,0,1,0,0,0,0
5567,3822871,55,2014-09-11,2500411412,2014-11-05,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5570,3822871,116,2014-09-11,2521817052,2015-01-05,0,0,0,0,0,1,0,0,0,0,0,0,0,1
5572,3822871,176,2014-09-11,2574299278,2015-03-06,0,0,0,0,0,1,0,0,0,0,0,0,0,1
5573,3822871,187,2014-09-11,2626115644,2015-03-17,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5576,3822871,291,2014-09-11,2676359197,2015-06-29,0,0,0,0,0,1,1,0,0,0,0,0,0,1
5582,3822986,-2778,2015-03-27,230644083,2007-08-18,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5585,3822986,-2394,2015-03-27,521188415,2008-09-05,0,0,0,0,1,0,0,0,0,0,0,0,0,1
5591,3822986,-1649,2015-03-27,1132914381,2010-09-20,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5596,3822986,-1585,2015-03-27,1186992290,2010-11-23,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5602,3822986,-1558,2015-03-27,1213382768,2010-12-20,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5615,3822986,-1267,2015-03-27,1465189863,2011-10-07,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5627,3822986,-948,2015-03-27,1677841164,2012-08-21,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5637,3822986,-560,2015-03-27,2103627821,2013-09-13,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5640,3822986,-526,2015-03-27,2136190492,2013-10-17,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5644,3822986,-357,2015-03-27,2287303544,2014-04-04,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5653,3822986,-154,2015-03-27,2427546443,2014-10-24,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5666,3822986,7,2015-03-27,2594805899,2015-04-03,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [78]:
df = df.drop(df.columns[[2,3,4]], axis=1)

In [79]:
df

,PatientID,Days_From1stTBI,Stress,PTSD,Speech,Anxiety,Depression,Headache,Sleep,Audiology,Vision,Neurologic,Alzheimer,Cognitive,PCS,Endocrine
23,382268,-1847,0,0,0,0,0,1,0,0,0,0,0,0,0,0
39,382268,-1707,0,0,0,0,0,0,0,0,1,0,0,0,0,0
41,382268,-1706,0,0,0,0,0,0,0,0,1,0,0,0,0,0
44,382268,-1693,0,0,0,0,0,0,0,0,1,0,0,0,0,0
46,382268,-1678,0,0,0,0,0,0,0,0,1,0,0,0,0,0
47,382268,-1677,0,0,0,0,0,0,0,0,1,0,0,0,0,0
48,382268,-1673,0,0,0,0,0,0,0,0,1,0,0,0,0,0
49,382268,-1673,0,0,0,0,0,0,0,0,1,0,0,0,0,0
50,382268,-1665,0,0,0,0,0,0,0,0,1,0,0,0,0,0
51,382268,-1665,0,0,0,0,0,0,0,0,1,0,0,0,0,0
52,382268,-1656,0,0,0,0,0,1,0,0,1,0,0,0,0,0
53,382268,-1653,0,0,0,0,0,1,0,0,1,0,0,0,0,0
54,382268,-1651,0,0,0,0,0,1,0,0,0,0,0,0,0,0
55,382268,-1645,0,0,0,0,0,1,0,0,0,0,0,0,0,0
56,382268,-1642,0,0,0,1,1,0,0,0,0,0,0,0,0,0
57,382268,-1609,0,0,0,0,0,0,0,0,1,0,0,0,0,0
58,382268,-1589,0,0,0,0,0,1,0,0,1,0,0,0,0,0
62,382268,-1544,0,0,0,0,0,1,0,0,1,0,0,0,0,0
64,382268,-1541,0,0,0,0,0,1,0,0,1,0,0,0,0,0
65,382268,-1441,0,0,0,0,0,0,0,0,1,0,0,0,0,0
89,382268,-960,0,0,0,0,1,0,0,0,0,0,0,0,0,0
91,382268,-959,0,0,0,0,1,0,1,0,0,0,0,0,0,0
92,382268,-950,0,0,0,0,1,0,0,0,0,0,0,0,0,0
93,382268,-937,0,0,0,0,1,0,0,0,0,0,0,0,0,0
100,382268,-918,0,0,0,0,1,0,0,0,0,0,0,0,0,0
105,382268,-909,0,0,0,0,1,0,0,0,0,0,0,0,0,0
116,382268,-455,0,0,0,0,0,1,0,0,0,1,0,0,0,0
118,382268,-454,0,0,0,0,0,1,0,0,0,1,0,0,0,0
119,382268,-453,0,0,0,0,0,1,0,0,0,0,0,0,0,0
120,382268,-453,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5516,3822871,-423,0,0,0,0,0,0,0,0,1,0,0,0,0,1
5518,3822871,-343,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5521,3822871,-336,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5524,3822871,-303,0,0,0,0,0,1,0,0,0,0,0,0,0,1
5536,3822871,-113,0,0,0,0,0,1,0,1,0,0,0,0,0,1
5537,3822871,-112,0,0,0,0,0,0,0,1,0,0,0,0,0,0
5542,3822871,-90,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5554,3822871,1,0,0,0,0,0,1,1,0,0,0,0,0,0,1
5556,3822871,4,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5558,3822871,6,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5560,3822871,7,0,0,0,0,0,0,0,0,0,1,0,0,0,1
5561,3822871,8,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5562,3822871,11,0,0,0,0,0,0,1,0,0,1,0,0,0,0
5567,3822871,55,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5570,3822871,116,0,0,0,0,0,1,0,0,0,0,0,0,0,1
5572,3822871,176,0,0,0,0,0,1,0,0,0,0,0,0,0,1
5573,3822871,187,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5576,3822871,291,0,0,0,0,0,1,1,0,0,0,0,0,0,1
5582,3822986,-2778,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5585,3822986,-2394,0,0,0,0,1,0,0,0,0,0,0,0,0,1
5591,3822986,-1649,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5596,3822986,-1585,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5602,3822986,-1558,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5615,3822986,-1267,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5627,3822986,-948,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5637,3822986,-560,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5640,3822986,-526,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5644,3822986,-357,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5653,3822986,-154,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5666,3822986,7,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [80]:
df.to_csv('processed_data.csv')